@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap');

body {
    background-color: #e1f4ff7d;
}

*, p, h1, h2 {
    font-family: 'Bacasime Antique', "Nunito Sans" , "Roboto" !important;
    letter-spacing: 0.5px;
}

.georgia {
    font-family: Georgia, 'Bacasime Antique', "Nunito Sans", "Roboto" !important;
    color: #454242;
}

.numbers{
    font-family: "Roboto", "Old Standard TT", Georgia, "Nunito Sans", serif !important;
    font-size: 24px;
}

a {
    font-style: unset;
    text-decoration: none;
}

.to-top {
    position: fixed;
    left: 3rem;
    z-index: 99;
    transform: scale(1.75);
    bottom: 4rem;
    cursor: pointer;
    background-color: #668cff38;
    border-radius: 50px;
    padding: 3px;
    transition: 350ms;
}

.to-top:active{
    transform: scale(0.99);
}

.to-top:hover{
    background-color: #799affb9;
}

