@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*, p, h1, h2 {
    font-family: "Nunito Sans" , "Roboto";

}

nav {
    /* display: flex;
    justify-content: space-evenly;
    padding: 24px; */
    /* position: sticky; */
    background-color: #2d2d2d;
}

footer {
    background-color: #4f4f4f;
    color: antiquewhite;
} 