name: Production Workflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  #first
  quality-checks:
    name: Static Code Analysis and Linting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: npm ci

      - name: Run ESLint + Static Code Analysis
        run: npx eslint

  # second
  run-unit-tests:
    needs: quality-checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          # check-latest: true
          node-version: 18

      - name: Install dependencies
        run: npm ci

      # - name: Run Unit Tests With Jest
      #   run: npm test --config=tests/Jest/jest.config.ts
      ### ENABLE LATER, ONCE TESTS ARE CREATED

  #third
  build-and-push-image:
    # name: Build + Push Docker image to Docker Hub
    needs: [quality-checks, run-unit-tests]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Log In To Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: tomasmaldonado/markets-app

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

          ##  Migrated this job to new workflow: deploy-GHpages.yml
  # build-and-deploy-production:
  #   needs: [quality-checks, run-unit-tests, build-and-push-image]
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v3

  #     - name: Install dependencies + build app
  #       run: |
  #         npm ci
  #         npm run build

  #     - name: Deploy to GitHub Pages
  #       uses: JamesIves/github-pages-deploy-action@v4.4.2
  #       with:
  #         folder: .next
