name: Pre-production Workflow

on:
  push:
    branches:
      - pre-production
  pull_request:
    branches:
      - pre-production

jobs:
  setup-buildx:
    runs-on: ubuntu-latest
    steps:
      - name: Docker Setup Buildx
        uses: docker/setup-buildx-action@v2.5.0

  build:
    # name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    needs: setup-buildx
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Log In To Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: tomasmaldonado/markets-app

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  #   run-unit-tests:
  #     runs-on: ubuntu-latest
  #     steps:
  #       - name: Checkout code
  #         uses: actions/checkout@v3

  #       - name: Set up Node.js
  #         uses: actions/setup-node@v2
  #         with:
  #           node-version: latest

  #       - name: Install dependencies
  #         run: npm ci

  #       - name: Run Unit Tests With Jest
  #         run: npm test

  deploy-pre-production:
    needs: [build]
    runs-on: ubuntu-latest
    environment: pre-production
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: npm ci

      - name: Deploy to Pre-Production
        run: |
          npm run build
          git config --global user.name "Tomas Maldonado"
          git config --global user.email "tmaldonadotrs@gmail.com"
          npm run-script deploy:pre-production

    # - name: Run Post-deployment Tests
    #   run: |
    #     # Run any post-deployment tests or verification

    # - name: Notify Team
    #   run: |
    #     # Send notifications or alerts to the team
